.gallery {
    @include grid();
    margin: var(--spacing-medium) 0;

    &__inner {
        grid-column: 3 / span 8;

        @include mq($until: desktop) {
            grid-column: 1 / span 12;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
    }

    &__image {
        img {
            height: 96px;
            width: auto;
            margin-top: 10px;
            margin-right: 10px;
        }

        &--cover {
            img {
                width: 100%;
                height: auto;
                margin-top: 0;
                margin-right: 0;
            }
        }
    }
}

.blocks--blog {
    .gallery {
    }
}

