@import "tailwindcss/base";
@import "./base/base.css";
@import "./base/fonts.css";
@import "./base/turbo.css";
@import "./base/lazysizes.css";

@import "tailwindcss/components";
/*@import "./components/button.css";*/

@import "tailwindcss/utilities";
@import "./utilities/typo.css";
@import "./utilities/prose.css";
@import "./utilities/noScrollBar.css";
