@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'GT America';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src:
            local('GT America Regular'),
            url('../fonts/GT-America-Standard-Regular.woff2') format('woff2');
    }

    img {
        text-indent: -9999px;
    }
}

@layer components {

}

@layer utilities {

    .typo-h1 {
        @apply font-bold;
    }

}

.turbo-progress-bar {

}

.noScrollBar::-webkit-scrollbar {
    display: none;
}

.noScrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

