<div class="homeHero">
    <div class="homeHero__inner">
        <div class="homeHero__logo">
            {% if logo.extension == "svg" %}
                {{ svg(logo) }}
            {% endif %}
        </div>
        {% if lead is defined and lead|length %}
            <div class="homeHero__lead">
                {{ lead }}
            </div>
        {% endif %}
        {% if button is defined and button|length %}
            <div class="homeHero__button">
                <a href="{{ entry.buttonHome }}">
                    {{ entry.buttonHome.getCustomText('Zum Eintrag') }}
                </a>
            </div>
        {% endif %}
    </div>
</div>
