<div class="logo">
    <svg width="42" height="23" viewBox="0 0 42 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.4573 20.9031H0V22.9926H14.4573V20.9031Z" fill="#F91414"/>
        <path d="M27.8049 10.4556H13.3477V12.5451H27.8049V10.4556Z" fill="#60E589"/>
        <path d="M41.1487 0.00732422H26.6914V2.09687H41.1487V0.00732422Z" fill="#0B9CED"/>
    </svg>
</div>
