<div class="lottie" x-data="lottie" x-init="reasign('{{ siteUrl ~ "storage/documents/" ~ path.path }}')">
    <div class="lottie__inner">
        <div class="lottie__animation" x-ref="container" ></div>
    </div>
</div>
