<div class="pageHeading">
    <div class="pageHeading__inner">
        <h1 class="pageHeading__heading">{{ heading }}</h1>
        {% if lead|length %}
            <p class="pageHeading__lead">{{ lead }}</p>
        {% endif %}
    </div>
</div>
